*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# IntelliJ IDEA
.idea
gen

# Gradle
build
local.properties
/.gitignore
/.idea/gradle.xml
/.idea/